@font-face {
  font-family: 'Pokemon Solid';
  font-style:  normal;
  font-weight: normal;
  src: url("./fonts/pokemon_solid-webfont.woff") format("woff"),
  url("./fonts/pokemon_solid-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 500;
  src: url("./fonts/roboto-medium.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 600;
  src: url("./fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 700;
  src: url("./fonts/roboto-black.woff") format("woff");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
